<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragment/base :: layout(~{::content})}">
<body>
<div th:fragment="content">
  <form id="cashForm" method="post" th:action="@{/cash/create}">
    <div class="mb-3">
      <label for="taiwanese-dollars" class="form-label">台幣</label>
      <input
              type="number"
              class="form-control"
              id="taiwanese-dollars"
              name="taiwaneseDollars"
      />
    </div>

    <div class="mb-3">
      <label for="us-dollars" class="form-label">美金</label>
      <input
              step="0.01"
              type="number"
              class="form-control"
              id="us-dollars"
              name="usDollars"
      />
    </div>

    <div class="mb-3">
      <label for="note" class="form-label">備註</label>
      <input type="text" class="form-control" id="note" name="note" />
    </div>

    <div class="mb-3">
      <label for="date" class="form-label">日期</label>
      <input type="date" class="form-control" id="dateInfo" name="dateInfo" />
    </div>

    <button type="submit" class="btn btn-primary">提交表單</button>
  </form>
<!--  <script>-->
<!--    document.addEventListener("DOMContentLoaded", function() {-->
<!--        handleFormSubmit("cashForm", "/");-->
<!--    });-->
<!--  </script>-->
</div>
</body>
</html>